.filters-section-container {
  width: 100%;
  border-top: 1px solid #cfcfcf;
}

.top-section-filter {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #cfcfcf;
}

.reset-filter {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  border-right: 1px solid #cfcfcf;
}

.reset-filter h3 {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #181817;
  letter-spacing: 1px;
}

.reset-filter button {
  background: none;
  border: none;
  color: #8a8a8a;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.filter-tabs {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
}

.filter-tabs button {
  border: 1px solid #d6d6d6;
  padding: 10px 18px;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

.filter-tabs button:hover {
  background-color: #e9e9e9;
}

.filter-tabs button.active-tab {
  background-color: #ffca0a;
  border: 1px solid #ffca0a;
  color: #000;
}

.collection-filters {
  width: 20%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
  border-right: 1px solid #cfcfcf;
}

.collection-filters h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.collection-filter-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 230px;
}

.collection-filter-btns button {
  padding: 8px 16px;
  background-color: #e8e8e8;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

/*mediaQueries*/

@media (max-width: 1024px) {
  .reset-filter {
    width: 30%;
  }

  .filter-tabs {
    width: 70%;
    padding-left: 20px;
    gap: 12px;
  }

  .collection-filters {
    width: 30%;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .top-section-filter {
    flex-direction: column;
    height: auto;
  }

  .reset-filter {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #cfcfcf;
    padding: 20px;
  }

  .filter-tabs {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
  }

  .collection-filters {
    width: 100%;
    border-right: none;
    padding: 30px 20px;
  }

  .collection-filter-btns {
    max-width: 100%;
  }
}
