@import "tailwindcss";

.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bayon-regular {
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@font-face {
  font-family: "Bastoni";
  src: url("./assets/fonts/Bastoni.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/*global colors*/
:root{
  --primary-color : #3D1613;
  --secondary-color : #FFCA0A;  
   
  
}

/* Utility: hide scrollbar while still allowing scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE / Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome / Safari / Opera */
}

/* Prevent horizontal overflow globally */
html, body {
  overflow-x: hidden;
}

/* Global cursor pointer on interactive elements */
button, a, [role="button"] {
  cursor: pointer;
}




